@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a,
ul,
li,
ol {
  text-decoration: none;
  list-style-type: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  border: none;
}

html {
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Yeseva One";
  font-weight: 400;
}

header {
  position: sticky;
  width: 100%;
  height: calc(120px + (160 - 120) * ((100vw - 769px) / (1440 - 769)));
  z-index: 10;
}
header .navbar .header-container {
  position: relative;
  margin: 0 auto;
  width: calc(760px + (1256 - 760) * ((100vw - 769px) / (1440 - 769)));
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
header .navbar .header-container .menu-brand .navbar-brand {
  text-decoration: none;
  margin: 0 auto;
  font-size: calc(40px + (54 - 40) * ((100vw - 769px) / (1440 - 769)));
  line-height: 136%;
  color: #27211e;
}
header .navbar .header-container .line {
  width: 940px;
  height: 0.5px;
  background-color: #000000;
}
header .navbar .header-container .navigation {
  margin-top: 15px;
  width: 940px;
  min-width: 720px;
  display: flex;
  justify-content: space-between;
}
header .navbar .header-container .navigation .navbar-menu {
  display: flex;
  flex-direction: row;
  margin-left: calc(70px + (140 - 70) * ((100vw - 769px) / (1440 - 769)));
}
header .navbar .header-container .navigation .navbar-menu .nav-item .nav-link {
  padding-right: calc(7px + (10 - 7) * ((100vw - 769px) / (1440 - 769)));
  padding-left: calc(7px + (10 - 7) * ((100vw - 769px) / (1440 - 769)));
  font-size: calc(11px + (14 - 11) * ((100vw - 769px) / (1440 - 769)));
  line-height: 136%;
  color: #27211e;
}
header .navbar .header-container .navigation .navbar-menu .nav-item:hover .nav-link {
  color: #367d32;
}
header .navbar .header-container .navigation .navbar-menu .nav-item:active {
  color: #367d32;
}
header .navbar .header-container .navigation .menu-right {
  position: relative;
  display: flex;
  float: left;
  align-items: center;
}
header .navbar .header-container .navigation .menu-right img {
  height: 25px;
}
header .navbar .header-container .navigation .menu-right .menu-contact {
  align-items: center;
}
header .navbar .header-container .navigation .menu-right .menu-contact a {
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
}
header .navbar .header-container .navigation .menu-right .profile {
  cursor: pointer;
  border: none;
  outline: none !important;
  display: flex;
  align-items: center;
  text-align: center;
  background: none;
}
header .navbar .header-container .navigation .menu-right .profile img {
  padding: 0px 7px;
}
header .navbar .header-container .navigation .menu-right .profile span {
  font-size: calc(11px + (14 - 11) * ((100vw - 769px) / (1440 - 769)));
  line-height: 136%;
  color: #27211e;
}
header .navbar .header-container .navigation .menu-right .profile span:active {
  color: #367d32;
}
header .navbar .header-container .navigation .menu-right .profile span:hover {
  color: #367d32;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Nunito Sans";
  font-weight: 400;
  color: #27211e;
}

.container {
  max-width: 960px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto !important;
}

.main-img {
  transform: translateY(-160px);
  height: 800px;
}
.main-img img {
  opacity: 0.85;
  width: 100%;
  height: 100%;
}

.production {
  display: flex;
  padding-bottom: 100px;
}
.production .some-img {
  width: 720px;
  height: 900px;
}
.production .some-img img {
  width: 100%;
  height: 100%;
}
.production .about-production {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
}
.production .about-production h1 {
  text-align: left;
  font-size: 40px;
  line-height: 136%;
  padding-bottom: 50px;
}
.production .about-production .info-product {
  display: grid;
  grid-template-columns: calc(200px + (250 - 200) * ((100vw - 769px) / (1440 - 769))) calc(200px + (250 - 200) * ((100vw - 769px) / (1440 - 769)));
  grid-template-rows: 150px 150px;
  padding-bottom: 70px;
}
.production .about-production .info-product h3 {
  padding-right: 50px;
  padding-bottom: 10px;
}
.production .about-production .info-product p {
  padding-right: 50px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}
.news .top-content {
  padding-bottom: 100px;
}
.news .top-content h2 {
  font-size: 40px;
  line-height: 136%;
  padding-bottom: 25px;
}
.news .top-content p {
  font-size: 15px;
  line-height: 136%;
}
.news .bottom-content {
  display: flex;
  justify-content: space-between;
}
.news .bottom-content img {
  width: 100%;
  height: 340px;
  margin-bottom: 40px;
}
.news .bottom-content .center {
  width: 440px;
  align-items: center;
  text-align: center;
}
.news .bottom-content .news-2 {
  margin-top: 200px;
}
.news .bottom-content .about-img {
  display: flex;
  flex-direction: column;
}
.news .bottom-content .about-img h3 {
  font-size: 19px;
  line-height: 136%;
  padding-bottom: 25px;
}
.news .bottom-content .about-img p {
  line-height: 136%;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-us h2 {
  font-size: 40px;
  line-height: 136%;
  padding-bottom: 40px;
}
.about-us .fans {
  font-size: 18px;
  line-height: 136%;
  padding-bottom: 30px;
}
.about-us .description {
  width: 60%;
  font-size: 18px;
  line-height: 136%;
}