@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

a,
ul,
li,
ol {
  text-decoration: none;
  list-style-type: none;
}

*,
::after,
::before {
  box-sizing: border-box;
  border: none;
}

html {
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

header {
  position: sticky;
  width: 100%;
  height: calc(120px + (160 - 120) * ((100vw - 769px) / (1440 - 769)));
  z-index: 10;
}
header .header__container {
  position: relative;
  margin: 0 auto;
  width: calc(750px + (1256 - 750) * ((100vw - 769px) / (1440 - 769)));
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
header .header__container .header-brand {
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}
header .header__container .header-brand .header__logo {
  text-decoration: none;
  margin: 0 auto;
  font-size: calc(40px + (54 - 40) * ((100vw - 769px) / (1440 - 769)));
  line-height: 136%;
  color: #27211e;
}
header .header__container .menu__body {
  margin-top: 15px;
  width: 100%;
  min-width: 720px;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
header .header__container .menu__body .menu__list {
  display: flex;
  flex-direction: row;
  margin-left: calc(50px + (140 - 50) * ((100vw - 769px) / (1440 - 769)));
}
header .header__container .menu__body .menu__list .menu__link {
  padding-right: calc(7px + (10 - 7) * ((100vw - 769px) / (1440 - 769)));
  padding-left: calc(7px + (10 - 7) * ((100vw - 769px) / (1440 - 769)));
  font-size: calc(11px + (14 - 11) * ((100vw - 769px) / (1440 - 769)));
  line-height: 136%;
  color: #27211e;
}
header .header__container .menu__body .menu__list:hover .nav-link {
  color: #367d32;
}
header .header__container .menu__body .menu__list:active {
  color: #367d32;
}
header .header__container .menu__body .menu__right {
  position: relative;
  display: flex;
  float: left;
  align-items: center;
}
header .header__container .menu__body .menu__right img {
  height: 25px;
}
header .header__container .menu__body .menu__right .menu__right-contact {
  align-items: center;
}
header .header__container .menu__body .menu__right .menu__right-contact a {
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
}
header .header__container .menu__body .menu__right .menu__right-profile {
  cursor: pointer;
  border: none;
  outline: none !important;
  display: flex;
  align-items: center;
  text-align: center;
  background: none;
}
header .header__container .menu__body .menu__right .menu__right-profile img {
  padding: 0px 7px;
}
header .header__container .menu__body .menu__right .menu__right-profile span {
  font-size: calc(11px + (14 - 11) * ((100vw - 769px) / (1440 - 769)));
  line-height: 136%;
  color: #27211e;
}
header .header__container .menu__body .menu__right .menu__right-profile span:active {
  color: #367d32;
}
header .header__container .menu__body .menu__right .menu__right-profile span:hover {
  color: #367d32;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #27211e;
}

.container {
  max-width: 960px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto !important;
}

.main-img .container {
  max-width: calc(760px + (1256 - 760) * ((100vw - 769px) / (1440 - 769)));
  align-items: center;
  text-align: center;
}
.main-img .container img {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
}
.main-img .container .titte-logo {
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 90px;
}

.production {
  display: flex;
  padding-bottom: 100px;
}
.production .some-img {
  width: 720px;
  height: 900px;
}
.production .some-img img {
  width: 100%;
  height: 100%;
}
.production .about-production {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 100px;
}
.production .about-production h1 {
  text-align: left;
  font-size: 40px;
  line-height: 136%;
  padding-bottom: 50px;
}
.production .about-production .info-product {
  display: grid;
  grid-template-columns: calc(200px + (250 - 200) * ((100vw - 769px) / (1440 - 769))) calc(200px + (250 - 200) * ((100vw - 769px) / (1440 - 769)));
  grid-template-rows: 150px 150px;
  padding-bottom: 70px;
}
.production .about-production .info-product h3 {
  padding-right: 50px;
  padding-bottom: 10px;
}
.production .about-production .info-product p {
  padding-right: 50px;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
}
.news .top-content {
  padding-bottom: 100px;
}
.news .top-content h2 {
  font-size: 40px;
  line-height: 136%;
  padding-bottom: 25px;
}
.news .top-content p {
  font-size: 15px;
  line-height: 136%;
}
.news .bottom-content {
  display: flex;
  justify-content: space-between;
}
.news .bottom-content img {
  width: 100%;
  height: 340px;
  margin-bottom: 40px;
}
.news .bottom-content .center {
  width: 440px;
  align-items: center;
  text-align: center;
}
.news .bottom-content .news-2 {
  margin-top: 200px;
}
.news .bottom-content .about-img {
  display: flex;
  flex-direction: column;
}
.news .bottom-content .about-img h3 {
  font-size: 19px;
  line-height: 136%;
  padding-bottom: 25px;
}
.news .bottom-content .about-img p {
  line-height: 136%;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}
.about-us .about-us__title {
  font-size: 40px;
  line-height: 185%;
  padding-bottom: 25px;
}
.about-us .about-us__fans {
  font-size: 18px;
  line-height: 185%;
  padding-bottom: 30px;
}
.about-us .about-us__description {
  overflow-wrap: break-word;
  color: #27211e;
  width: 60%;
  font-size: 18px;
  line-height: 185%;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.feedback .feedback-title {
  font-size: 40px;
  line-height: 136%;
  margin-bottom: 20px;
}
.feedback .feedback-form {
  width: 780px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.feedback .feedback-form input {
  color: black;
  font-size: 15px;
  line-height: 200%;
  padding: 3px 10px 3px 15px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  outline: none;
  overflow: auto;
}
.feedback .feedback-form .input:active,
.feedback .feedback-form :focus {
  border: 1px solid #000;
}
.feedback .feedback-form .form-row {
  padding: 0;
  border: none;
}
.feedback .feedback-form .form-row .form-name {
  width: 48%;
  margin-right: 25px;
}
.feedback .feedback-form .form-row .form-mail {
  width: 48%;
}
.feedback .feedback-form .form-theme {
  width: 100%;
}
.feedback .feedback-form .form-text {
  color: black;
  height: 100px;
  padding: 11px 10px 3px 16px;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  overflow: auto;
  outline: none;
}
.feedback .feedback-form .form-button {
  font-size: 18px;
  color: #ffe0d1;
  height: 50px;
  background-color: #27211e;
  outline: none;
}
.feedback .feedback-form button:active {
  color: white;
  background-color: #261307;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer img {
  height: 25px;
}
.footer .social {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
  margin-bottom: 25px;
}
.footer .social a {
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
}
.footer .creator {
  font-size: 12px;
  margin-bottom: 25px;
}